@use 'variables' as v;

// /**********************
/* **** Dark theme ****  */
// /**********************

.dark-theme {
    background: #060714;
    color: v.$gray-10;

    .logo {
        &--letter {
            fill: #fff;
        }
    }

    .theme-switch {
        padding-right: 0;
        padding-left: 30px;

        svg {
            .sun {
                transform: scale(.8) translate(7px, 10px);
            }

            .cloud {
                d: path('M35.4348 23.2174C35.0087 23.2174 34.593 23.2557 34.1809 23.3096C31.9878 20.1043 28.3061 18 24.1304 18C18.6035 18 13.9426 21.687 12.4574 26.7322C8.3113 26.9287 5 30.3252 5 34.5217C5 38.8435 8.50435 42.3478 12.8261 42.3478C14.713 42.3478 33.4783 42.3478 35.4348 42.3478C40.7183 42.3478 45 38.0661 45 32.7826C45 27.4991 40.7183 23.2174 35.4348 23.2174Z');
            }
        }
    }

    h1 {
        color: #fff;
    }


    .nav-top {
        a {
            color: v.$gray-10;

            &:after {
                background: v.$gray-10;
            }
        }
    }

    .btn {
        &:hover {
            box-shadow: inset -4px -4px 4px rgb(0 0 0 / 10%), inset 4px 4px 4px rgb(255 255 255 / 10%), 0px 6px 12px -4px rgb(255 255 255 / 50%);
        }
    }

    .hero--subtitle {
        color: v.$gray-10;
    }

    .search--bar {
        box-shadow: 0px 25px 75px rgba(64, 69, 143, 0.5);
    }

    .nft--item {
        color: v.$gray-10;
    }

    .price {
        color: #cdccff;
    }

    .offers--item {
        border-color: v.$blue-dark-90;

        &.dark {
            background-image: linear-gradient(to bottom, v.$blue-dark-90, #1f2134, #181a29, #11121e, #060714);
        }

        .pleat {
            path {
                fill: v.$blue-dark-90;
            }
        }
    }

    .popular--cat {
        border-color: v.$blue-dark-90;
        color: #fff;

        &:hover {
            border-color: v.$blue-dark;
        }
    }

    .extrainfo--started {
        background-image: linear-gradient(to bottom, v.$blue-dark-90, #1f2134, #181a29, #11121e, #060714);
        border-color: v.$blue-dark-90;

        img {
            display: none;
        }

        .avatars-dark {
            display: block;
        }

        .pleat-gray {
            path {
                fill: v.$blue-dark-90;
            }
        }
    }

    .small--nfts-item span {
        color: v.$gray-10;
    }

    .footer {
        
        p, a {
            color: v.$gray-10;
        }
    }

    .btn-border {
        color: v.$gray-20;
        border-color: v.$gray-20;
    }
}