@use 'variables'as v;

@mixin after-color($color) {
    background: $color;
}

.header {
    background: #fff;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 5;

    .container {
        height: 100%;
    }
}

.menu {

    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
    }

    &:not(.footer--menu-social) {
        a {
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                border-radius: .5px;
                transition: .15s;
                @include after-color(v.$blue-gray);
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

.nav-top {
    margin-right: 100px;
    ul {
        margin: 0;
    }

    li {
        &:not(:last-child) {
            margin-right: 65px;
        }
    }

    a {
        text-decoration: unset;
        color: v.$blue-gray;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        display: inline-block;
        position: relative;
    }
}

.btn {
    padding: 16px 24px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    border: none;
    cursor: pointer;
    box-shadow: inset -4px -4px 4px rgb(0 0 0 / 10%), inset 4px 4px 4px rgb(255 255 255 / 10%);
    transition: .3s;

    &.sm-element {
        display: none;
    }

    &:active {
        box-shadow: inset 4px 4px 4px rgb(255 255 255 / 10%), inset 4px 4px 4px rgb(0 0 0 / 10%);
    }

    &:hover {
        box-shadow: inset -4px -4px 4px rgb(0 0 0 / 10%), inset 4px 4px 4px rgb(255 255 255 / 10%), 0px 6px 12px -4px rgb(0 0 0 / 50%);
    }
}

.btn-border {
    background: transparent;
    border: 2px solid v.$blue-gray;
    color: v.$blue-gray;
}

.btn-filled {
    padding: 18px 24px;
    background: linear-gradient(104.42deg, #4745D0 0%, v.$blue-dark 60.23%);
    color: #fff;
}

.header--btns {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button:first-child,
    button:nth-child(2) {
        margin-right: 16px;
    }
}

h1 {
    font-weight: 600;
    font-size: 120px;
    letter-spacing: 0.2px;
    line-height: 1;
    color: v.$dark-100;
    max-width: 840px;
    margin: 0 auto;

    span {
        text-align: right;
        display: block;
    }
}

.hero--subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: v.$blue-gray;
}

.hero {
    padding-top: 80px;

    .container {
        text-align: center;
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--subtitle {
        margin-top: 50px;
        margin-bottom: 55px;
    }

    & .container>*:not(.hero--nfts) {
        position: relative;
        z-index: 3;
    }
}

.search--bar {
    max-width: 643px;
    margin: 0 auto;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;

    input {
        background: transparent;
        border: none;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: v.$blue-gray;
        padding-right: 110px;

        &::placeholder {
            opacity: 0.5;
        }
    }

    select {
        background: transparent;
        border: none;
        border-left: 1px solid #bababa;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: v.$blue-gray;
        padding-left: 16px;
        padding-right: 65px;
        margin-right: 50px;
    }
}

.search--btn {
    background: transparent;
    border: none;
    cursor: pointer;


    &:hover svg * {
        stroke: v.$blue-gray;
    }
}

.hero--nfts {
    &>div {
        position: absolute;
        max-width: 89px;

        &:nth-child(odd) {
            bottom: 15%;
        }

        &:nth-child(even) {
            bottom: 42%;
        }

        &:nth-child(3n) {
            bottom: 65%;
        }

        &:first-child {
            left: 2%;
        }

        &:nth-child(2) {
            left: 78%;
        }

        &:nth-child(3) {
            left: 90%;
        }

        &:nth-child(4) {
            left: 15%;
        }

        &:nth-child(5) {
            left: 90%;
        }

        &:nth-child(6) {
            left: 2%;
        }
    }
}

.small--nfts {
    &-item {
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.2px;
        color: v.$blue-gray;
        position: relative;

        &:first-child {
            margin-left: 24px;
        }

        img {
            width: 89px;
            height: 89px;
            border-radius: 20px;
            z-index: 2;
            position: relative;
        }

        .blured {
            opacity: 0.6;
            filter: blur(15px);
            position: absolute;
            top: 5%;
            left: 0;
            z-index: 1;
        }

        span {
            display: block;
            margin-top: 8px;
        }
    }

    &-img {
        position: relative;
    }
}

.theme-switch {
    background: none;
    border: none;
    box-shadow: inset -4px -4px 4px rgb(0 0 0 / 10%), inset 4px 4px 4px rgb(255 255 255 / 10%);
    border-radius: 16px;
    border: 1px solid #7780A1;
    cursor: pointer;
    width: 60px;
    height: 30px;
    padding-right: 30px;
    transition: padding .3s;

    svg {
        width: 100%;

        * {
            transition: .3s;
        }

        .sun {
            d: path('M24,4C13.507,4,5,12.507,5,23s8.507,19,19,19s19-8.507,19-19S34.493,4,24,4z');
        }

        .cloud {
            d: path('M39.5,24c-0.245,0-0.484,0.022-0.721,0.053C37.518,22.21,35.401,21,33,21	c-3.178,0-5.858,2.12-6.712,5.021C23.904,26.134,22,28.087,22,30.5c0,2.485,2.015,4.5,4.5,4.5c1.085,0,11.875,0,13,0	c3.038,0,5.5-2.462,5.5-5.5C45,26.462,42.538,24,39.5,24z');
        }
    }
}

.latest {
    padding-bottom: 150px;

    .container-fluid {
        overflow: hidden;
        padding: 0 200px;
    }

    h2 {
        margin-bottom: 92px;
    }

    &--swiper.swiper {
        overflow: unset;
    }
}

.price {
    color: v.$blue-dark;
    background: v.$blue-gray-10;
    border-radius: 4px;
    padding: 8px 14px;
    white-space: nowrap;
}

.bidding {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: v.$blue-gray;
}

.blurred {
    opacity: 0.2;
    filter: blur(17.5px);
    position: absolute;
    top: 30px;
    left: 0;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
    max-width: 276px;
}

.swiper-slide {
    h3 {
        margin-top: 24px;
    }
}

.nft--item {
    position: relative;
    color: v.$text-color;
    text-decoration: none;
    display: block;

    &-img {
        height: 355px;
        position: relative;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 2;
        border-radius: 20px;

        &.blurred {
            position: absolute;
            z-index: 1;
            opacity: 0.2;
        }
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 16px;
    }
}

.fav {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .3s;

    &.liked path {
        fill: red;
        stroke: red;
    }

    &:hover {
        path {
            stroke: v.$red;
        }
    }
}

.author {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.swiper {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    .swiper-button-prev,
    .swiper-button-next {
        width: 120px;
        height: 120px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 25px 75px rgb(6 7 20 / 10%);
        backdrop-filter: blur(7px);
        border-radius: 50%;
        transition: .3s ease;
        transform: translateY(-50%);
        left: -10%;

        &:after {
            font-size: 16px;
            padding-top: 2%;
            padding-right: 3%;
            color: #000;
        }

        &:hover {
            background: v.$blue-dark;
            backdrop-filter: blur(15px);

            &:after {
                color: #fff;
            }
        }
    }

    .swiper-button-next {
        left: unset;
        right: -10%;

        &:after {
            padding-left: 3%;
        }
    }
}

// Offers
.offers {
    padding: 70px 0;

    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
    }

    &--item {
        // width: 100%;
        // max-width: 33.33%;
        border: 1px solid v.$gray-20;
        border-radius: 20px;
        padding: 40px;
        position: relative;

        img {
            width: 100%;
        }

        .pleat {
            position: absolute;
            top: -21px;
            left: -1px;
            max-width: 185px;

            path {
                background: #171824;
            }
        }

        .hand {
            margin-top: -80px;
            margin-bottom: 30px;
            max-width: 448px;
            width: 100%;
            max-height: 644px;
            z-index: 2;
            position: relative;
        }

        &:first-child {
            overflow: hidden;
        }

        &.dark {
            border: 1px solid v.$blue-dark-90;
            background: linear-gradient(188.08deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 93.79%), v.$text-color;
            border-top-left-radius: 0;
            color: #fff;

            .btn {
                margin-top: 38px;
            }
        }

        &-info {
            // padding: 0 40px;

            p {
                color: v.$blue-gray;
                font-size: 14px;
                line-height: 150%;
                letter-spacing: 0.2px;
                margin-top: 8px;
            }
        }

        h2 {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.2px;
            max-width: 314px;
        }

        .btn {
            width: 100%;
            justify-content: center;
            margin-top: 65px;
        }
    }

    &--swiper.swiper {
        margin-top: 56px;
        overflow: unset;
        padding-right: 25%;

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }

    &--slide {

        * {
            opacity: 0.5;
            transition: .3s;
        }

        &.swiper-slide-active * {
            opacity: 1;
        }

        h3 {
            font-size: 16px;
            height: 50px;
            overflow: hidden;
        }

        &-subinfo {
            margin-top: 28px;
        }
    }

    &--nfts {
        margin-top: 56px;
        max-height: 530px;
        overflow-y: auto;
        padding-right: 10px;

        &-item {
            display: flex;
            margin-bottom: 16px;

            img {
                width: 100%;
                height: 100%;
                max-width: 120px;
                max-height: 120px;
            }

            h3 {
                margin: 0;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.2px;
            }

            .price {
                font-weight: 600;
            }
        }

        img {
            border-radius: 20px;
        }

        &-about {
            margin-left: 16px;
        }

        &-info {
            margin-top: 8px;
            margin-bottom: 16px;
        }
    }
}

.popular {
    padding: 70px 0;

    &--cats {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 72px;
    }

    &--cat {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
        padding: 8px;
        border: 2px solid v.$gray-20;
        border-radius: 8px;
        background: transparent;
        color: v.$blue-gray;
        margin-right: 16px;
        cursor: pointer;
        transition: .3s;

        &.selected {
            border-color: v.$blue-dark;
            background: v.$blue-dark;
            color: #fff;
        }

        input {
            display: none;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-color: v.$blue-dark;
        }
    }

    &--nfts {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 24px;
    }

    // .nft--item {

    //     img {
    //         height: 355px;
    //     }
    // }

    .btn {
        margin: 0 auto;
        margin-top: 72px;
    }
}

.sliding {
    &--nfts {
        overflow: hidden;

        &-item {
            padding: 20px 0;
            margin-right: 24px;
        }
    }
}

.extrainfo {
    &--facts {
        margin-top: 100px;
        padding-top: 100px;
        padding-bottom: 150px;
        border-top: 1px solid v.$gray-20;

        &-item {
            text-align: center;
            margin-right: 80px;

            &:last-child {
                margin-right: 0;
            }

            svg {
                width: 32px;
                height: 32px;
                margin: 0 auto;
            }

            span {
                font-weight: 600;
                font-size: 48px;
                line-height: 115%;
                letter-spacing: 0.2px;
                margin-top: 16px;
                margin-bottom: 4px;
                display: block;
            }

            p {
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.2px;
                color: v.$blue-gray;
            }
        }
    }

    &--started {
        margin-bottom: 147px;
        padding: 107px 0;
        padding-left: 120px;
        background: v.$gray-10;
        position: relative;
        border-radius: 0px 20px 20px 20px;
        border: 1px solid v.$gray-10;

        &-column {}

        h2 {
            max-width: 565px;
        }

        .gray-text {
            margin-top: 32px;
            margin-bottom: 48px;
            max-width: 460px;
        }

        &-btns {
            button:not(:last-child) {
                margin-right: 16px;
            }
        }

        .pleat-gray {
            position: absolute;
            top: -42px;
            left: -1px;

            path {
                fill: v.$gray-10;
            }
        }
    }

    .avatars-dark {
        display: none;
    }
}

.avatar--info {
    display: flex;
    flex-wrap: wrap;
    margin-left: 17px;

    &-username {
        display: block;
        font-weight: 600;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.2px;
        width: 100%;
    }

    &-items,
    &-collection {
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0.2px;
        color: v.$blue-gray;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            margin-right: 8px;
        }
    }

    &-items {
        margin-right: 20px;
    }
}

.gray-text {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: v.$blue-gray;
}

.footer {
    padding-bottom: 100px;

    .container {}

    &--wrap {
        border: 1px solid v.$gray-20;
        border-radius: 20px;
        margin-top: 70px;
        display: flex;

        &-column {
            max-width: 33.33%;
            width: 100%;
            padding: 43px 48px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            &:nth-child(2) {
                border-left: 1px solid #E2E2ED;
                border-right: 1px solid #E2E2ED;
            }
        }
    }

    p {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.2px;
        color: v.$blue-gray;
    }

    .signup {
        box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
        border-radius: 16px;
        max-width: 367px;
        background: #fff;
        height: 52px;
        display: flex;

        input {
            background: transparent;
            border: none;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.2px;
            color: v.$blue-gray;
            width: 100%;
            padding: 0 30px;

            &::placeholder {
                opacity: 0.5;
            }
        }

        button {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: v.$blue-dark;
            background: transparent;
            border: none;
            padding: 16px 24px;
            white-space: nowrap;
            cursor: pointer;
            border-radius: 16px;
            transition: .3s;

            &:hover {
                background: v.$blue-dark;
                color: #fff;
            }
        }
    }

    &--menu {
        &-law {

            li {
                &:not(:last-child) {
                    margin-right: 40px;
                }
            }

            a {
                font-size: 14px;
                line-height: 150%;
                text-align: center;
                letter-spacing: 0.2px;
                color: v.$blue-gray;
                text-decoration: none;
                white-space: nowrap;
            }
        }

        &-bottom.menu {
            margin-bottom: 40px;

            ul {
                display: block;
            }

            li {
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }

            a {
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.2px;
                text-decoration: none;
                color: v.$text-color;


                &:after {
                    @include after-color(v.$text-color);
                }
            }
        }

        &-social {
            margin-top: 70px;

            li {
                &:not(:last-child) {
                    margin-right: 25px;
                }
            }

            a {
                width: 20px;
                height: 20px;
                transition: .15s;

                display: block;

                &:hover {
                    transform: translateY(-1px);
                }
            }
        }
    }
}

// /**********************
/* **** Dark theme ****  */
// /**********************

.dark-theme {
    background: v.$text-color;
    color: v.$gray-10;

    .header {
        background: v.$text-color;
    }

    .header--wrap {
        background-image: linear-gradient(to bottom, v.$blue-dark-90, #1f2134, #181a29, #11121e, v.$text-color);
    }

    .logo {
        &--letter {
            fill: #fff;
        }
    }

    .theme-switch {
        padding-right: 0;
        padding-left: 30px;

        svg {
            .sun {
                transform: scale(.8) translate(7px, 10px);
            }

            .cloud {
                d: path('M35.4348 23.2174C35.0087 23.2174 34.593 23.2557 34.1809 23.3096C31.9878 20.1043 28.3061 18 24.1304 18C18.6035 18 13.9426 21.687 12.4574 26.7322C8.3113 26.9287 5 30.3252 5 34.5217C5 38.8435 8.50435 42.3478 12.8261 42.3478C14.713 42.3478 33.4783 42.3478 35.4348 42.3478C40.7183 42.3478 45 38.0661 45 32.7826C45 27.4991 40.7183 23.2174 35.4348 23.2174Z');
            }
        }
    }

    h1 {
        color: #fff;
    }


    .nav-top {
        a {
            color: v.$gray-10;

            &:after {
                background: v.$gray-10;
            }
        }
    }

    .btn {
        &:hover {
            box-shadow: inset -4px -4px 4px rgb(0 0 0 / 10%), inset 4px 4px 4px rgb(255 255 255 / 10%), 0px 6px 12px -4px rgb(255 255 255 / 50%);
        }
    }

    .hero--subtitle {
        color: v.$gray-10;
    }

    .search--bar {
        box-shadow: 0px 25px 75px rgba(64, 69, 143, 0.5);
    }

    .nft--item {
        color: v.$gray-10;
    }

    .price {
        color: #cdccff;
    }

    .offers--item {
        border-color: v.$blue-dark-90;

        &.dark {
            background-image: linear-gradient(to bottom, v.$blue-dark-90, #1f2134, #181a29, #11121e, v.$text-color);
        }

        .pleat {
            path {
                fill: v.$blue-dark-90;
            }
        }
    }

    .popular--cat {
        border-color: v.$blue-dark-90;
        color: #fff;

        &:hover {
            border-color: v.$blue-dark;
        }
    }

    .extrainfo--started {
        background-image: linear-gradient(to bottom, v.$blue-dark-90, #1f2134, #181a29, #11121e, v.$text-color);
        border-color: v.$blue-dark-90;

        img {
            display: none;
        }

        .avatars-dark {
            display: block;
        }

        .pleat-gray {
            path {
                fill: v.$blue-dark-90;
            }
        }
    }

    .small--nfts-item span {
        color: v.$gray-10;
    }

    .footer {

        p,
        a {
            color: v.$gray-10;
        }
    }

    .btn-border {
        color: v.$gray-20;
        border-color: v.$gray-20;
    }
}