$blue-gray: #7780A1;
$dark-100: #060714;
$blue-gray-10: rgba(42, 39, 201, 0.1);
$blue-dark: #2A27C9;
$blue-dark-90: #262840;
$red: #FB4539;
$gray-10: #F2F3F6;
$gray-20: #E2E2ED;
$base-family: 'Sora', sans-serif;
$text-color: #060714;